:root {
    --acces-buttom: #363636;
    --acquista-buttom: #cd3e0f;
    --informazioni-scopripiù-nuttom: #2D64E6;
    --sessione-nuove-uscite: #1F1F1F;
    --sessione-ps-plus: #BEBCBB;
    --sessione-ps-now: #161C3B;
    --footer: #00439C;
}

.header-top {
    height: 40px;
    background-color: black;
}

.bg-light {
    --bs-bg-opacity: 0;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity))!important
}

.logo-sony {
    height: 16px;
    margin-top: 10px;
    margin-right: 10px;
}

.row-sup {
    height: 100px;
    margin-bottom: 20px;
}

.text-a-navbar {
    color: black;
    font-weight: 600;
    margin: 0 50px 0 0;
}

.text-a-navbar:hover {
    color: var(--informazioni-scopripiù-nuttom);
}

.icon {
    height: 50px;
    background-color: aqua;
}

.div-cols-title {
    opacity: 0.6;
    transition: transform 600ms;
}

.div-cols-presentation {
    position: relative;
    opacity: 0.6;
}

.bg-col {
    background-color: white;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    height: 50px;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.drop-row {
    background-color: white;
}

.navbar_brand {
    padding-top: 0;
}

.d_flex {
    display: flex;
    justify-content: center;
}

.form-header-width {
    width: 100px;
}

.position_dropdown {
    top: 0;
    width: 100%;
}

.position_dropdown ul {
    display: flex;
}

.dropdown_item {
    display: block;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-menu[data-bs-popper] {
    top: 90%;
    left: 0;
    margin-top: .125rem
}

.jumbotron {
    position: relative;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(./../img/jumbo-bg.png);
}

.title-jumbo {
    position: absolute;
    top: 30%;
    width: 300px;
}

.inrto-game {
    position: absolute;
    top: 40%;
    width: 20%;
}

.banner-it-takes-to {
    position: relative;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(./../img/it-takes-two-hero-banner-desktop.jpg);
}

.title-banner {
    position: absolute;
    top: 5%;
    width: 300px;
}

.inrto-game-banner.text-white {
    position: absolute;
    top: 40%;
    width: 25%;
}

.logo-psplus {
    height: 30px;
}

.social-ps {
    width: 40%;
    margin: 0 auto;
}

.display-none {
    display: block;
}

.col-group-second li {
    list-style: none;
}

.acquista-ora {
    position: relative;
    width: 130px;
    background-color: var(--acquista-buttom);
}

.acquista-ora::before {
    content: '';
    position: absolute;
    left: -6px;
    top: -6px;
    border-radius: 25px;
    border: 2px solid var(--acquista-buttom);
    height: 44px;
    width: 142px;
    display: none;
}

.acquista-ora:hover::before {
    display: block;
}

.esplora {
    position: relative;
    width: 200px;
    color: var(--informazioni-scopripiù-nuttom);
}

.esplora::before {
    content: '';
    position: absolute;
    left: -6px;
    top: -6px;
    border-radius: 25px;
    border: 2px solid var(--sessione-ps-plus);
    height: 44px;
    width: 211px;
    display: none;
}

.esplora:hover::before {
    display: block;
}

.maggiori-scopri {
    position: relative;
    width: 200px;
    background-color: var(--informazioni-scopripiù-nuttom);
}

.maggiori-scopri::before {
    content: '';
    position: absolute;
    left: -6px;
    top: -6px;
    border-radius: 25px;
    border: 2px solid var(--informazioni-scopripiù-nuttom);
    height: 44px;
    width: 211px;
    display: none;
}

.maggiori-scopri:hover::before {
    display: block;
}

.nuove-uscite {
    background-color: var(--sessione-nuove-uscite);
}

.psplus {
    background-color: var(--sessione-ps-plus);
}

.psnow {
    background-color: var(--sessione-ps-now);
}

.footer {
    background-color: var(--footer);
}

@media screen and (max-width: 980px) {
    .inrto-game {
        width: 40%;
    }
    .inrto-game-banner.text-white {
        width: 40%;
    }
    .social-ps {
        width: 80%;
    }
}

@media screen and (max-width: 767px) {
    .display-none {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .inrto-game {
        width: 100%;
    }
    .inrto-game-banner.text-white {
        width: 100%;
    }
    .col-group-second {
        flex-direction: column;
    }
}


/** animation */

.div-cols-presentation::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: var(--informazioni-scopripiù-nuttom);
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
}

.div-cols-presentation:hover::before {
    transform: scaleX(1);
}

.div-cols-presentation:hover {
    opacity: 1.0;
}

.div-cols-title:hover {
    opacity: 1.0;
    transform: translateY(-15px);
}


/**test */

.maggiori-info {
    position: relative;
    border-radius: 10px;
    margin: 30px;
}

.maggiori-info::before {
    content: '';
    position: absolute;
    top: -7px;
    left: -8px;
    height: 40px;
    width: 140px;
    border: 3px solid rgba(255, 255, 0, 0.39);
    border-radius: 10px;
    display: none;
}

.div-cols-title-first {
    position: relative;
}

.div-cols-title-first::before {
    content: '';
    position: absolute;
    left: 3px;
    top: -4px;
    height: 122px;
    width: 212px;
    border: 2px solid var(--informazioni-scopripiù-nuttom);
    border-radius: 10px;
    display: block;
}