:root {
    --acces-buttom: #363636;
    --acquista-buttom: #CD3D0F;
    --informazioni-scopripiù-nuttom: #2D64E6;
    --sessione-nuove-uscite: #1F1F1F;
    --sessione-ps-plus: #BEBCBB;
    --sessione-ps-now: #161C3B;
    --footer: #00439C;
}

header .d-flex {
    height: 40px;
    background-color: black;
}

.logo-sony {
    height: 16px;
    margin-top: 10px;
}

.icon {
    height: 50px;
    background-color: aqua;
}


/** .col.d-flex.justify-content-center {
    background-color: white;
    height: 80px;
}*/

.bg-col {
    background-color: white;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    height: 50px;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.drop-row {
    background-color: white;
}

.navbar_brand {
    padding-top: 0;
}

.d_flex {
    display: flex;
    justify-content: center;
}

.form-header-width {
    width: 100px;
}

.position_dropdown {
    top: 0;
    width: 100%;
}

.position_dropdown ul {
    display: flex;
}

.dropdown_item {
    display: block;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-menu[data-bs-popper] {
    top: 90%;
    left: 0;
    margin-top: .125rem
}

.jumbotron {
    position: relative;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./../img/jumbo-bg.png);
}

.title-jumbo {
    position: absolute;
    top: 30%;
    width: 300px;
}

.inrto-game {
    position: absolute;
    top: 40%;
    width: 20%;
}

.banner-it-takes-to {
    position: relative;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./../img/it-takes-two-hero-banner-desktop.jpg);
}

.title-banner {
    position: absolute;
    top: 5%;
    width: 300px;
}

.inrto-game-banner.text-white {
    position: absolute;
    top: 40%;
    width: 25%;
}

.logo-psplus {
    height: 30px;
}

.social-ps {
    width: 40%;
    margin: 0 auto;
}

.display-none {
    display: block;
}

.col-group-second li {
    list-style: none;
}

.acquista-ora {
    background-color: var(--acquista-buttom);
}

.esplora {
    width: 200px;
    color: var(--informazioni-scopripiù-nuttom);
    background-color: var();
}

.maggiori-scopri {
    background-color: var(--informazioni-scopripiù-nuttom);
}

.nuove-uscite {
    background-color: var(--sessione-nuove-uscite);
}

.psplus {
    background-color: var(--sessione-ps-plus);
}

.psnow {
    background-color: var(--sessione-ps-now);
}

.footer {
    background-color: var(--footer);
}

@media screen and (max-width: 980px) {
    .inrto-game {
        width: 40%;
    }
    .inrto-game-banner.text-white {
        width: 40%;
    }
    .social-ps {
        width: 80%;
    }
}

@media screen and (max-width: 767px) {
    .display-none {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .inrto-game {
        width: 100%;
    }
    .inrto-game-banner.text-white {
        width: 100%;
    }
    .col-group-second {
        flex-direction: column;
    }
}